.title {
  font-size: 16px;
  color: white;
}
.body {
  width: auto;
  padding: 0;
}
.titleContainer {
  width: 310px;
  height: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #4b97f5;
  align-items: center;
}
.emailContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 10px;
}
.emailLabel {
  font-size: 14px;
  margin-right: 5px;
}
.emailInput {
  width: 100%;
  height: 17px;
  border-radius: 6px;
  margin-right: 5px;
  border: 1px solid gray;
}
.emailAtLabel {
  font-size: 14px;
  margin-right: 5px;
}
.emailAtInput {
  height: 17px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid gray;
}
.passwordContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.shortcut {
  margin-top: 2px;
  font-size: 8px;
  margin-right: 10px;
}
.buttonGen {
  background: #4b97f5;
  border: 0px;
  border-radius: 4px;
  color: white;
  height: 17px;
}